/* Colores (EXISTENTES)*/
$color-primary:   #2f80ed;  
$color-secondary: #27ae60;  
$color-bg:        #f9fafb;  
$color-text:      #1f2937;  
$color-muted:     #6b7280;  
$color-white:     #ffffff;  

/*Colores de la prueba Tecnica */
$color-light-gray:    #F2F3F9;
$color-light-blue:    #E8F2FF;
$color-white-bg:      #FFFFFF;
$color-gray-text:     #9399AA;
$color-dark-purple:   #150A44;
$color-translucent:   #4545500A;

$color-steel-gray:    #606A82;
$color-bright-blue:   #0583FF;
$color-neon-green:    #00BB19;
$color-light-gray-2:  #C8CBD4;
$color-sky-blue:      #0594F1;
$color-cyan:          #00FFEE;

$color-off-white:     #ECEEF9;
$color-aqua:          #00EBA7;
$color-red:           #FF2D21;
$color-light-purple:  #8154EF0F;
$color-purple:        #8154EF;
$color-green:         #01AC4C;

$color-lime:          #37CC00;
$color-light-navy:    #004EFA0F;
$color-blue:          #0D55FF;
$color-dark-blue:     #004EFA;

/*Tipografia*/
$font-base: 'Poppins', sans-serif;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;

/*Spacios*/
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;

/*BREAKPOINTS*/
$bp-md: 768px;
$bp-lg: 1024px;

